# Ignore the SQLite database
db.sqlite3

# Ignore all environment variables
.env
*.env

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore virtual environments (if it's in the project)
venv/

# Ignore collected static files (optional)
# staticfiles/

# Ignore VSCode settings (optional)
.vscode/
