{% extends "base.html" %} {% block content %}
<h2>Register</h2>
<!--Display form errors-->
{% if form.errors %}
<p style="color: red">
  There was a problem with your registration. Please try again.
</p>
{{ form.non_field_errors }}
<!-- Shows Django erros messages -->
{% endif %}

<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="btn-soft">Register</button>
</form>

<p>Already have an account?</p>
<a href="{% url 'login' %}" class="btn-soft">Login</a>
{% endblock %}
