{% extends "base.html" %} {% block content %}
<h2>Your Bookings</h2>

<p>
  <a href="{% url 'create_booking' %}" class="btn-soft">
    <i class="fas fa-calendar-plus" style="margin-right: 6px"></i>Create a New Booking</a>
</p>

{% if bookings %}
<ul>
  {% for booking in bookings %}
  <li>
    Booking for {{ booking.guests }} guests on {{ booking.date }} at {{ booking.time|time }} (Table {{ booking.table_number }})

    <br />
    <a href="{% url 'modify_booking' booking.id %}" class="modify-btn"
      >Modify Booking</a>
    <a
      href="{% url 'cancel_booking' booking.id %}"
      class="delete-btn"
      onclick="return confirm('Are you sure you want to cancel this booking?');"
    >
      Delete
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No bookings found.</p>
{% endif %}

<a href="{% url 'home' %}" class="btn-soft">
  <i class="fas fa-home" style="margin-right: 6px"></i>Back to Home</a>
{% endblock %}
