{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
{% endblock %} {% block content %}
<div class="menu-container">
  <h1>Our Menu</h1>

  <!--Starters-->
  <div class="menu category">
    <h2>Starters</h2>
    <div class="menu-items">
      <div class="menu-item">
        <img src="{% static "images/burger.jpg" %}" alt="Angus Burger" />
        <h3>The Angus Burger</h3>
        <p>
          Flame Grilled 100%% Scottish Beef, served in sesame bun with relish
          and lettuce.
        </p>
        <span class="price">£5.99</span>
      </div>
      <div class="menu-item">
        <img src="{% static "images/cnara.jpg" %}" alt="Carbonara" />
        <h3>Carbonara</h3>
        <p>
          Typical of the Lazio region of Italy. A pasta dish made with fatty
          cured pork, hard cheese, eggs salt and black pepper.
        </p>
        <span class="price">£7.99</span>
      </div>
    </div>
  </div>

  <!--Mains-->
  <div class="menu-category">
    <h2>Mains</h2>
    <div class="menu-items">
      <div class="menu-item">
        <img src="{% static "images/steak.jpg" %}" alt="Steak">
        <h3>Sirloin Steak</h3>
        <p>Served with chips and peppercorn sauce</p>
        <span class="price">£8.99</span>
      </div>
      <div class="menu-item">
        <img src="{% static "images/pasta.jpg" %}" alt="Pasta">
        <h3>Spaghetti Bolognese</h3>
        <p>Traditional Italian beef ragu</p>
        <span class="price">8.99</span>
      </div>
    </div>
  </div>

  <!--Wines-->
  <div class="menu-category">
    <h2>Mains</h2>
    <div class="menu-items">
      <div class="menu-item">
        <img src="{% static "images/red.jpg" %}" alt="Red Wine">
        <h3>Red Wine</h3>
        <p>Rich and full-bodied.</p>
        <span class="price">£8 / glass</span>
      </div>
      <div class="menu-item">
        <img src="{% static "images/white.jpg" %}" alt="White Wine">
        <h3>White Wine</h3>
        <p>Light, crisp and refreshing.</p>
        <span class="price">£7 / glass</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
